
.main-container {
  width: 375px;
  height: 5000px;
  background: #e5e5e5;
}

.work {
  display: grid;
  height: 600px;
  width: 327px;
  margin-top: 114px;
  margin-left: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
}

.snapshot {
  width: 295px;
  margin-left: 16px;
  margin-top: 16px;
}

.project-title {
  width: 295px;
  height: 39px;
  margin-left: 16px;
  line-height: 44px;
}

.tonic {
  font-weight: bold;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
}

.title-items {
  margin-left: 16px;
  margin-top: 20px;
  display: flex;
  padding: 0;
  gap: 20px;
  width: 250px;
}

.canopy {
  list-style: none;
  width: 70px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end {
  width: 90px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.date {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}

/* .tech-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  list-style: none;
  margin-left: 16px;
}

.my-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 53px;
  height: 24px;
}

.my-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 45px;
  height: 24px;
}

.js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 89px;
  height: 24px;
} */


.tech-skills {
 list-style: none;

}

.my-html {
  float: right;
  margin-right: 20px;
  
}

.js {
  float: right;
  margin-right: 50px;
}
.my-css {
  float: right;
  margin-right: 100px;
}


.project {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 16px;
  height: 72px;
  width: 200px;
  left: 0;
  top: 216px;
  border-radius: 0;
}

.see {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  gap: 12px;
  width: 140px;
  height: 55px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
border: 1px solid #6070FF;
border-radius: 8px;
}

.see:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.see:focus {
  background: #2230d2;
  color: #fff;
}

.work-two {
  display: grid;
  height: 600px;
  width: 327px;
  margin-top: 114px;
  margin-left: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
}

.snapshoot-two {
  width: 295px;
  margin-left: 16px;
  margin-top: 16px;
}

.project-title-two {
  width: 290px;
  height: 80px;
  margin-left: 16px;
  line-height: 44px;
}

.multi-two {
  font-weight: bold;
  color: #172b4d;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.title-items-two {
  margin-left: 16px;
  margin-top: 20px;
  display: inline-flex;
  padding: 0;
  gap: 20px;
  width: 250px;
}

.canopy-two {
  list-style: none;
  width: 70px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end-two {
  width: 90px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.date-two {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily-two {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}

.work-three {
  display: grid;
  height: 600px;
  width: 327px;
  margin-top: 114px;
  margin-left: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
}

.snapshoot-three {
  width: 295px;
  margin-left: 16px;
  margin-top: 16px;
}

.project-title-three {
  width: 295px;
  height: 39px;
  margin-left: 16px;
  line-height: 44px;
}

.tonic-three {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #172b4d;
  font-size: 32px;
}

.title-items-three {
  margin-left: 16px;
  margin-top: 20px;
  display: inline-flex;
  padding: 0;
  gap: 20px;
  width: 250px;
}

.canopy-three {
  list-style: none;
  width: 70px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end-three {
  width: 90px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.date-three {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily-three {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}


.work-four {
  display: grid;
  height: 600px;
  width: 327px;
  margin-top: 114px;
  margin-left: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
}

.snapshoot-four {
  width: 295px;
  margin-left: 16px;
  margin-top: 16px;
}

.project-title-four {
  width: 290px;
  height: 80px;
  margin-left: 16px;
  line-height: 44px;
}

.post {
  font-weight: bold;
  color: #172b4d;
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.title-items-four {
  margin-left: 16px;
  margin-top: 20px;
  display: inline-flex;
  padding: 0;
  gap: 20px;
  width: 250px;
}

.canopy-four {
  list-style: none;
  width: 70px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.back-end-four {
  width: 90px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.date-four {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.daily-four {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 16px;
}

.html-four {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 53px;
  height: 24px;
}

.css-four {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 45px;
  height: 24px;
}

.js-four {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  width: 89px;
  height: 24px;
}


.about-myself {
  height: 1400px;
  width: 375px;
  margin-top: 114px;
  border-top-right-radius: 70px;
  background: #fff;
  border: 1px solid #dfe1e6;
}

.personal-info {
  margin-top: 114px;
}

.about-info {
  margin-left: 24px;
  width: 200px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.introduction {
  margin-left: 24px;
  width: 327px;
  height: 144px;
}

.hello {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-two {
  display: flex;
  margin-left: 24px;
  margin-top: 12px;
  height: 24px;
}

.contacts-two {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icon-bar-two {
  list-style: none;
  width: 150px;
  padding-left: 5px;
  margin-left: 23px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.icon-bar-two i {
  font-size: 20px;
  color: #172b4d;
}

.resume {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  height: 72px;
  width: 450px;
  left: 0;
  top: 216px;
  border-radius: 0;
}

.get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  gap: 12px;
  width: 170px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 16px;
}

.get:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.get:focus {
  background: #2230d2;
  color: #fff;
}

.languages {
  width: 327px;
  height: 72px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.write-in {
  margin-left: 24px;
}

.Script {
  display: flex;
  gap: 30px;
  margin-left: 36px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
}

.lang-js {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.js-symbol {
  margin-left: 12px;
  margin-top: 10px;
}

.html-this {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 36px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
}

.html-one {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.html-symbol {
  margin-left: 12px;
  margin-top: 10px;
}

.css-icon {
  display: flex;
  gap: 30px;
  margin-left: 36px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 12px;
}

.lang-css {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.css-symbol {
  margin-left: 12px;
  margin-top: 10px;
}

.framework {
  width: 285px;
  height: 30px;
  margin-left: 36px;
  margin-top: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.frame-one {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  gap: 57px;
}

.skill-let {
  width: 287px;
  height: 30px;
  margin-left: 36px;
  margin-top: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.skills-one {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  gap: 57px;
}

hr {
  height: 1px;
  margin-left: 26px;
  margin-right: 29px;
}
