/* html {
  box-sizing: border-box;
  font-size: 10px; 
}

.My-self {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.contacts {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600px;
  font-size: 26px;
  line-height: 30px;
  color: #7f8cff;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700px;
}

a {
  color: white;
  text-decoration: none;
}



a.button {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
} */

/* a.button{
  width: 76px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
display: flex;
align-items: center;
text-align: center;
color: #6070FF; */





}
/* .main-container {
  background: #FFFFFF;
  position: absolute;
width: 375px;
height: 718px;
left: 0px;
top: 0px; */
 
  /* margin: 5vh auto 5vh auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;  */
}
/* .my-portfolio {
  background: #FFFFFF;
  position: absolute; */

/* background-image: url(images/header-shapes\ mobile.svg);
background-repeat: no-repeat;
} */
 
/* .headline {
  padding: 20px;
  line-height: 1.6;
}

.icon-bar {
  display: inline-flex;
  font-size: 16px;
  color: #505f79;
  padding-left: 20px;
  gap: 10px;
}

.header-section {
  background: white;
  color: black;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-portfolio > * {
  flex: 1 1 auto;
} */

/* .header-section {
  background: white;
  padding: 1rem;
  display: flex;
  
  
} */